<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>39728751336-7qbked5gbfud49pbbmbuc26c9eup25qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39728751336-7qbked5gbfud49pbbmbuc26c9eup25qj</string>
	<key>API_KEY</key>
	<string>AIzaSyCA9wwNd2b-76fe5oGFGeqh2N-lfPQWFSU</string>
	<key>GCM_SENDER_ID</key>
	<string>39728751336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CKasper.Pharm-Assist-Box</string>
	<key>PROJECT_ID</key>
	<string>pharm-assist-box</string>
	<key>STORAGE_BUCKET</key>
	<string>pharm-assist-box.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39728751336:ios:fc55f27e2c35476c</string>
	<key>DATABASE_URL</key>
	<string>https://pharm-assist-box.firebaseio.com</string>
</dict>
</plist>